!!!
.left-content
  .left-content__top
    .left-content__top__main
      .left-content__top__main__image
      .left-content__top__main__name
        Tomoya Ishida
    .left-content__top__bottom
      .left-content__top__bottom__follow
        .left-content__top__bottom__follow__count
          437
        .left-content__top__bottom__follow__caption
          フォロー
      .left-content__top__bottom__follower
        .left-content__top__bottom__follower__count
          502
        .left-content__top__bottom__follower__caption
          フォロワー
  .left-content__main
    .left-content__main__top
      .left-content__main__top__title
        タイムライン
      .left-content__main__top__icon
        ＞
    .left-content__main__timeline
      .left-content__main__timeline__border
      .left-content__main__timeline__main
        .left-content__main__timeline__main__info
          .left-content__main__timeline__main__info__image
          .left-content__main__timeline__main__info__data
            .left-content__main__timeline__main__info__data__name
              石田 友哉
            .left-content__main__timeline__main__info__data__time
              8時間前
        .left-content__main__timeline__main__comment
        .left-content__main__timeline__main__link
        .left-content__main__timeline__main__pick
