!!!
.main-content__left
  .main-content__left__news
    .main-content__left__news__top
      = image_tag('amazon.jpg')
      .main-content__left__news__top__picks
        .main-content__left__news__top__picks__count
          137
        .main-content__left__news__top__picks__caption
          Picks
    .main-content__left__news__titlebox
      .main-content__left__news__titlebox__title
        これは戦争だ！ ウォルマート、取引先にアマゾンのクラウド...
    .main-content__left__news__data
      .main-content__left__news__data__image
        = image_tag('profile.jpg', size: '33x33')
      .main-content__left__news__data__info
        .main-content__left__news__data__info__name
          石田 友哉
        .main-content__left__news__data__info__company
          TECH::EXPERT
    .main-content__left__news__commentbox
      .main-content__left__news__commentbox__comment
        フロント画面実装中だよ。
    .main-content__left__news__bottom
      .main-content__left__news__bottom__sitename
        Business Insider Japan
      .main-content__left__news__bottom__time
        20分前
  .main-content__left__news
    .main-content__left__news__top
      = image_tag('uber.jpg')
      .main-content__left__news__top__picks
        .main-content__left__news__top__picks__count
          240
        .main-content__left__news__top__picks__caption
          Picks
    .main-content__left__news__titlebox
      .main-content__left__news__titlebox__title
        ウーバーのIPOに立ち塞がる前例なき険しい道
    .main-content__left__news__data
      .main-content__left__news__data__image
        = image_tag('profile.jpg', size: '33x33')
      .main-content__left__news__data__info
        .main-content__left__news__data__info__name
          石田 友哉
        .main-content__left__news__data__info__company
          TECH::EXPERT
    .main-content__left__news__commentbox
      .main-content__left__news__commentbox__comment
        フロント画面実装中だよ。
    .main-content__left__news__bottom
      .main-content__left__news__bottom__sitename
        Business Insider Japan
      .main-content__left__news__bottom__time
        40分前
