!!!
.main-content__right
  .main-content__right__titlearea
    .main-content__right__titlearea__title
      新着ニュース
  .main-content__right__news
    .main-content__right__news__title
      Spotifyからショーン・パーカーが去る
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        Tech&nbsp;Crunch
      .main-content__right__news__data__time
        14分前
    .main-content__right__news__title
      リッツ・カールトンがクルーズ業界への参入を発表
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        Gizmodo
      .main-content__right__news__data__time
        32分前
    .main-content__right__news__title
      ピーター・ティールがトランプ支持の本当の意味——テクノロジーが政治を...
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        NewsPicks
      .main-content__right__news__data__time
        54分前
    .main-content__right__news__title
      「メルカリ」ウェブ版で個人情報流出、最大で5万4180人に影響
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        Tech&nbsp;Crunch
      .main-content__right__news__data__time
        1時間前
    .main-content__right__news__title
      UberのCEO Travis Kalanickが辞任
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        Tech&nbsp;Crunch
      .main-content__right__news__data__time
        5時間前
    .main-content__right__news__title
      イーロン・マスク氏、100万人の火星移住計画の最新情報を発表
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        Tech&nbsp;Crunch
      .main-content__right__news__data__time
        8時間前
    .main-content__right__news__title
      今だから教えてさしあげたい、iMac Proのスゴいとこ #WWDC17
    .main-content__right__news__data
      .main-content__right__news__data__sitename
        Gizmodo
      .main-content__right__news__data__time
        12時間前
