header{
  height: 50px;
  width: 100%;
  background-color: #15274D;
  position: fixed;
  z-index: 10;
  .header__bar{
    h1{
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    position: relative;
      a{
        text-decoration: none;
      }
      a:hover{
        color: #fff;
      }
      a:link{
        color: #fff;
      }
      a:visited{
        color: #fff;
      }
    }
  }
}

.userinfo{
  height: 30px;
  width: 180px;
  color: #fff;
  float: right;
  position: absolute;
  top: 0;
  left: 1240px;
  right: 0;
  bottom: 0;
  margin: auto;
}

#login{
  height: 30px;
  width: 70px;
  background-color: #4277EC;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #fff;
  float: left;
  margin-left: 18px;
  line-height: 30px;
  -webkit-border-radius: 2px;
  text-decoration: none;
}

#signup{
  height: 30px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  color: #ccd4de;
  float: left;
  line-height: 30px;
  text-decoration: none;
}

#signup:hover{
  color: #fff;
}

#logout{
  text-decoration: none;
  margin-left: 10px;
  line-height: 40px;
}

#logout:hover{
  color: #fff;
}

#setting{
  text-decoration: none;
  margin-left: 10px;
  line-height: 40px;
}

#setting:hover{
  color: #fff;
}

#read-leter{
  text-decoration: none;
  margin-left: 10px;
  line-height: 40px;
}

#read-leter:hover{
  color: #fff;
}


#mypage{
  text-decoration: none;
}

#mypage:hover{
  color: #fff;
}

.fa-commenting-o{
  float: right;
  line-height: 100px;
  margin-left: 30px;
  color: #ccd4de;
  position: absolute;
  top: 7px;
  left: 115px;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 16px;
  cursor: pointer;
}

.fa-commenting-o:hover{
  color: #fff;
}

.header_image{
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
}

.user-image-top{
  position: absolute;
  top: 8px;
  left: 1200px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.user_image_top{
  height: 34px;
  width: 34px;
  border-radius: 38px;
}

//ドロップダウンメニュー

.menu__single {
  position: relative;
  width: 100px;
  text-decoration: none;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}

.menu__single .menu__second-level {
  position: absolute;
  top: 40px;
  width: 100px;
  background-color: #15274D;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.menu__single:hover .menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.menu {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

 li {
  // float: left;
  width: 100px;
  height: 40px;
  line-height: 50px;
  background-color: #15274D;
}

li a {
  display: block;
  color: #ccd4de;
}

.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

li:hover {
  background-color: #15274D;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu__second-level li {
  border-top: 1px solid #111;
}
