.left-content{
  height: 100vh;
  min-height: 100%;
  width: 216px;
  float: left;
  position: relative;
  padding-top: 5px;
  &__top{
    height: 183px;
    width: 216px;
    &__main{
      height: 138px;
      width: 216px;
      &__image{
        height: 80px;
        width: 216px;
        position: relative;
        &__data{
          height: 48px;
          width: 48px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      &__name{
        height: 58px;
        width: 216px;
        background-color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        &__signup{
          height: 34px;
          width: 150px;
          margin: 0 auto;
          position: relative;
          background-color: #15274D;
          -webkit-border-radius: 2px;
        }
      }
    }
    &__bottom{
      height: 45px;
      width: 216px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      &__follow{
        height: 45px;
        width: 108px;
        float: left;
        &__count{
          height: 25px;
          width: 108px;
          font-size: 14px;
          text-align: center;
          line-height: 25px;
          margin-top: 4px;
          font-weight: bold;
        }
        &__caption{
          height: 10px;
          width: 108px;
          font-size: 8px;
          text-align: center;
          line-height: 10px;
          color: #666;
        }
      }
      &__follower{
        height: 45px;
        width: 107px;
        border-left: 1px solid #eee;
        float: left;
        &__count{
          height: 25px;
          width: 107px;
          font-size: 14px;
          text-align: center;
          line-height: 25px;
          margin-top: 4px;
          font-weight: bold;
        }
        &__caption{
          height: 10px;
          width: 107px;
          font-size: 8px;
          text-align: center;
          line-height: 10px;
          color: #666;
        }
      }
    }
  }
  &__main{
    height: 45px;
    width: 216px;
    float: left;
    &__top{
      height: 45px;
      width: 216px;
      float: left;
      border-bottom: 1px solid #eee;
      &__title{
        height: 45px;
        width: 164px;
        float: left;
        line-height: 45px;
        color: #37509C;
        font-size: 12px;
        font-weight: bold;
        padding-left: 16px;
        cursor: pointer;
      }
      &__icon{
        height: 45px;
        width: 31px;
        float: left;
        line-height: 45px;
        color: #37509C;
        font-size: 12px;
        padding-left: 5px;
        cursor: pointer;
      }
    }
  }
  &__info{
    height: 455px;
    width: 216px;
    overflow: scroll;
    &__main{
      &__timeline{
        height: 168px;
        width: 216px;
        float: left;
        position: relative;
        &__border{
          height: 168px;
          width: 184px;
          margin: 0 16px;
          border-bottom: 1px solid #eee;
        }
        &__main{
          height: 120px;
          width: 184px;
          margin: 16px 16px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          &__info{
            height: 30px;
            width: 174px;
            &__image{
              height: 28px;
              width: 28px;
              float: left;
              border: 1px solid #eee;
            }
            &__data{
              height: 30px;
              width:  144px;
              float: left;
              &__name{
                height: 16px;
                width:  144px;
                font-size: 12px;
                font-weight: bold;
                margin-left: 6px;
              }
              &__time{
                height: 14px;
                width:  144px;
                font-size: 10px;
                margin-left: 6px;
                color: #999;
              }
            }
          }
          &__comment{
            width: 184px;
            font-size: 12px;
            margin-top: 1px;
          }
          &__link{
            width: 184px;
            margin: 5px 0;
            font-size: 12px;
            color: #37509C;
            cursor: pointer;
          }
          &__pick{
            height: 15px;
            width: 184px;
            font-size: 10px;
            color: #999;
          }
        }
      }
    }
  }
}

#signup-left{
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  line-height: 30px;
}

.current_user_image_left{
  float: right;
  line-height: 100px;
  margin-left: 10px;
  color: #08233E;
  position: absolute;
  top: 16px;
  left: 81px;
  right: 0;
  bottom: 0;
  margin: auto;
}

//プロフィール画像
.user_image_left{
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

#mypage-left{
  text-decoration: none;
  color: #000;
}

.left_image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
