.main-content__main{
  &__left{
    height: 1000px;
    width: 720px;
    background-color: #fff;
    margin: 45px 45px;
    border: 1px solid #fff;
    float: left;
  }
  &__right{
    height: 824px;
    width: 344px;
    background-color: #fff;
    float: left;
    margin-top: 45px;
    &__titlearea{
      height: 85px;
      width: 344px;
      &__title{
        height: 20px;
        width: 280px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 120px;
        margin: 0 auto;
        color: #15274D;
      }
    }
    &__news{
      height: 92px;
      width: 344px;
      &__title{
        height: 40px;
        width: 274px;
        margin: 0 auto;
        font-size: 15px;
        font-weight: bold;
      }
      &__data{
        height: 17px;
        width: 274px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 25px;
        &__sitename{
          height: 15px;
          width: 70px;
          float: left;
          font-size: 12px;
          color: #666;
        }
        &__time{
          height: 15px;
          width: 70px;
          margin-left: 15px;
          float: left;
          font-size: 12px;
          color: #666;
        }
      }
    }
  }
}
