.mypage__main{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  float: left;
  &__contents-area{
    height: 100%;
    margin: 30px auto;
    width: 77%;
    background-color: #F5F5F5;
  }
}

.user_image_content{
  height: 33px;
  width: 33px;
  border-radius: 33px;
}

.show-news-link{
  text-decoration: none;
  color: #000;
}

.show-news-link:hover{
  color: #37509C;
}

.pick-delete{
  height: 26px;
  width: 50px;
  color: #ff9900;
  background-color: #fff;
  border: 1px solid #ff9900;
  float: right;
  margin: auto;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
}

.pick-delete:hover{
  background-color: #ff9900;
  color: #fff;
}
