.mypage__main{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  float: left;
  &__contents-area{
    height: 100%;
    margin: 30px auto;
    width: 77%;
    background-color: #F5F5F5;
  }
}

.user_image_content{
  height: 33px;
  width: 33px;
  border-radius: 33px;
}

.show-news-link{
  text-decoration: none;
  color: #000;
}

.show-news-link:hover{
  color: #37509C;
}
